* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* スムーススクロール用 */
    scroll-behavior: smooth;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    padding: 0 24px;
}
header ul li a {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    transition: all 0.3s;
}

header ul li a:hover,
header ul li a:active {
    font-weight: bold;
    color: red;
    background-color: #3399FF;
}


/*PC*/
@media (min-width: 769px) {
    header {
        background-size: 100%;
    }
}

body{
    animation: bgchange 20s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
  }
  
  @keyframes bgchange{
        0%   {background:#ffe6e1;}/*変化させたい色*/
        25%  {background:#fdcb9e;}/*変化させたい色*/
        50%  {background:#fdcbc1;}/*変化させたい色*/
        75%  {background:#ffff8c;}/*変化させたい色*/
        90%  {background:#b2dffb;}/*変化させたい色*/
        100% {background:#ffe6e1;}/*変化させたい色*/
   }

#home {
    padding: 20rem 0;
    background-image: url(IMG_0891.jpeg);
    max-width: 100%;
    background-size: cover;
    color: white;
    font-style: oblique;
    background-position: c;
}
#home h1 {
    text-align: center;
    font-size: 8rem;
}

/*モバイル*/
@media (max-width: 768px) {
    #about h3 {
        text-align: center;
    }

    #about .text  img {
        width: 330px;
        height: 330px;
        border-radius: 230px;
        margin: auto;
        display: block;
        width: 45%;
    }

    #about .text {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    #about img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

}

h2 {
    margin: 4rem;
    font-size: 4rem;
}
#about .text {
    display: flex;
    margin-right: 2rem;
}
#about img {
    margin-left: 5rem;
    display: block;
    width: 450px;
    height: 450px;
    border-radius: 350px;
}
#about h2 {
    font-size: 4rem;
    margin: 2rem 1rem;
}

#about h3 {
    font-size: 4rem;
    text-align: center;
}

#about nav {
    margin-left: 9rem;
    line-height: 5rem;
}

#about nav ul li {
    font-size: 1.5rem;
}




/*モバイル*/
@media (max-width: 768px) {
    #skil p {
        font-size: 1.5rem;
        text-align: center;
    }


    #works .img img {
        display: flex;
        flex-direction: column;
        
        position: relative;
        left: 23%;
        width: 90%;


    }
}

#skil p {
    text-align: center;
    font-size: 5vw;
    line-height: 8vw;
}

#works .img img {
    max-width: 45%;
    margin: 2rem;
    
}

footer {
    margin: 2rem;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 32px;
    justify-content: center;
}
footer ul li a {
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s;
}

footer ul li a:hover {
    background: #3399FF;
    transform: scale(1.5);
}
footer ul li a svg {
    width: 32px;
    height: 32px;

}

/* トップへ戻るボタン (参考: https://www.fuji-blo.com/entry/page-top) */
#page-top {
    position: fixed;
    right: 5px;
    bottom: 20px;
    height: 50px;
    padding: 0 0 0 35px;
    border-top: solid 1px;
    text-decoration: solid;
    color: #3399FF;
    transform: rotate(90deg);
}

#page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    border-top: solid 1px;
    transform: rotate(35deg);
    transform-origin: left top;
}